<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/content/normalize.css">
    <link rel="stylesheet" href="/content/style2.css">
    <title>Document</title>
</head>
<body class="body">
    <header class="pageHeader">
        <nav>
                <ul>
                    <li Class ="active"><a href="#">Inicio</a></li>
                    <li><a href="news.html">Noticias</a></li>
                    <li><a href="about.html">Acerca De</a></li>
                    <li><a href="contacts.html">Contactos</a></li>
                </ul>

        </nav>
    </header>
    <section class = "about"> 
        <div class = "about-content">
            <h2>
            Ingenieria en Sistemas de Información y Ciencias de la Computacion 
             </h2>
           
        </div>
        
        
    </section>
    <main class="contenedor">

         <article>
                 <div class="contenedor__contenido">
   
                <h1>Desarrollo web</h1>
                <p class="parrafo">Desarrollo web significa construir y mantener sitios web; es el trabajo que tiene lugar en un segundo plano y que permite que una web tenga una apariencia impecable, un funcionamiento rápido y un buen desempeño para permitir la mejor experiencia de usuario. Los desarrolladores web son como duendes con poderes: nunca los ves, pero son los que hacen que todo esté bien y funcione de manera rápida y eficiente.</p>
       
       
                  </div>

                <div class="img">
                    <img class="dw" src="/img/dw.jpg" alt="Desarrollo Web">
                </div>
         </article>
    </main>
    <footer class ="pageFooter">
        <p>Copyright &copy; 2022 - www.misitio.com</p>
    </footer>
</body>
</html>