<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/content/normalize.css">
    <link rel="stylesheet" href="/content/style1.css">
    <title>Noticias</title>

</head>
<body>
    <header class="pageHeader">
        <nav>
                <ul>
                    <li Class ="active"><a href="index.html">Inicio</a></li>
                    <li><a href="news.html">Noticias</a></li>
                    <li><a href="about.html">Acerca De</a></li>
                    <li><a href="contacts.html">Contactos</a></li>
                </ul>

        </nav>
    </header>
    <main class="contenedor">
        <h1> Informacion Sobre Lenguajes de Programación Web</h1>
        <div class="grid">
            <div class="noticias">
            
                    <img class="noticias__imagen" src="/img/javascript.jpg" alt="JavaScript">
                    <div class="noticias__informacion">
                    <p class="noticias__nombre">JavaScript</p>
                    <p class="noticias__Descripcion">JavaScript también es un lenguaje imprescindible para el desarrollo de aplicaciones web. Eso es cierto no solo porque JavaScript domina el mundo de los lenguajes de programación del lado del cliente para sitios web, sino también porque puede extenderse a entornos del lado del servidor utilizando Node.js.

                        JavaScript y Node.js no son tan extensibles como Python. Yo probablemente no usaría Node.js para la administración del sistema, por ejemplo, aunque ya se ha hecho. Pero juntos, estos dos lenguajes cubren prácticamente cualquier tipo de caso de uso de programación relacionado con la web que pueda enfrentar.</p>
                </div>
            </div> <!--.producto-->
            <div class="noticias">
                    <img class="noticias__imagen" src="/img/golang-Programing.jpg" alt="Go">
                    <div class="noticias__informacion">
                    <p class="noticias__nombre">Go</p>
                    <p class="noticias__Descripcion">Si están buscando un lenguaje de programación de uso general que sea más fácil para las aplicaciones web que Java, Golang, más conocido como simplemente Go, puede ser lo que están buscando.

                        Introducido en 2009, Go es un lenguaje flexible y extensible con una sólida comunidad detrás. Facilita a los desarrolladores la creación de aplicaciones que aprovechan el procesamiento paralelo. Eso le da a Go una ventaja si se usa para crear aplicaciones web de alto rendimiento. Go no es tan popular como Java, pero es probable que aumente con el tiempo.
                        
                        Por lo tanto, Go puede ser una excelente opción si desean una solución de programación actualizada que funcione bien para aplicaciones web, así como para otros tipos de aplicaciones.</p>
                </div>
            </div> <!--.producto-->
            <div class="noticias">
                    <img class="noticias__imagen" src="/img/php.jpg" alt="PHP">
                    <div class="noticias__informacion">
                    <p class="noticias__nombre">PHP</p>
                    <p class="noticias__Descripcion">Cuando PHP debutó a mediados de la década de 1990, muchos devotos lo llamaron el mejor lenguaje de programación web, porque revolucionó la forma de desarrollar software de internet. PHP hizo que fuera práctico por primera vez construir sitios web dinámicos y así transformó la web de una colección de contenido mayormente estático a un medio interactivo.

                        Dos décadas después del primer lanzamiento de PHP, su popularidad ha disminuido un poco. Actualmente existe una fuerte coalición anti-PHP. Las quejas se centran en el diseño deficiente de PHP y en el hecho de que las tareas simples requieren mucho código.
                        
                        Sin embargo, digan lo que quieran sobre PHP, el hecho es que sigue siendo, con mucho, el lenguaje más utilizado –aunque probablemente no sea el mejor– para el desarrollo web. Solo por esa razón, PHP es un lenguaje imprescindible para los desarrolladores web.</p>
                </div>
            </div> <!--.producto-->
            <div class="noticias">
                    <img class="noticias__imagen" src="/img/java.jpg" alt="Java">
                    <div class="noticias__informacion">
                    <p class="noticias__nombre">Java</p>
                    <p class="noticias__Descripcion">Java fue diseñado como un lenguaje de programación multiusos. Nunca fue diseñado para aplicaciones web en particular, más de lo que fue concebido para escribir, digamos, una aplicación de reloj inteligente. Pero si bien Java no se creó con el único propósito del desarrollo basado en navegador en mente, muchos aún lo consideran uno de los mejores lenguajes de programación web para aprender y usar.

                        En otras palabras, Java es un lenguaje que un desarrollador promedio ya conoce. Si necesitan crear una aplicación web y no quieren que sus desarrolladores (o las personas que tendrán que mantener su código en el futuro) aprendan un nuevo lenguaje para hacerlo, Java podría encajar bien.</p>
                </div>
            </div> <!--.producto-->
             <div class="noticias">
                <img class="noticias__imagen" src="/img/ruby-on-rails-development.jpg" alt="Ruby on Rails">
                <div class="noticias__informacion">
                <p class="noticias__nombre">Ruby on Rails</p>
                <p class="noticias__Descripcion">No se puede hablar de lenguajes de programación de propósito general útiles para el desarrollo web sin mencionar Ruby on Rails. Para los desarrolladores que programan con Ruby, un lenguaje de propósito general, Ruby on Rails proporciona una manera fácil de crear aplicaciones web del lado del servidor.

                    Existe un gran debate sobre si Ruby y Ruby on Rails están muriendo. Sin embargo, los defensores del marco argumentarán con entusiasmo que sigue siendo uno de los mejores lenguajes de programación web para crear aplicaciones rápidamente. La gente ha estado prediciendo la desaparición de Ruby durante varios años, y aunque Ruby no es tan popular como lo fue antes, es poco probable que desaparezca.
                    
                    De hecho, en marzo de 2018, el índice Tiobe, que rastrea la popularidad de los lenguajes de programación, informó que Ruby había regresado a su lista de los 10 principales. Si Ruby vuelve a estar de moda, las habilidades de Ruby on Rails son un activo valioso.</p>
             </div>
           </div> <!--.producto-->
            <div class="noticias">
                <img class="noticias__imagen" src="/img/py.jpg" alt="Python">
                <div class="noticias__informacion">
                <p class="noticias__nombre">Python</p>
                <p class="noticias__Descripcion">Python es un lenguaje de programación que los desarrolladores pueden usar en una amplia variedad de contextos. Si bien Python no se diseñó específicamente para el desarrollo web, marcos como Django facilitan su uso como base para la programación web. También se puede usar Python antiguo para escribir aplicaciones web, si se desea.

                    Si Python y Django son los mejores lenguajes de programación web en un sentido técnico, es una pregunta imposible de responder objetivamente.
                    
                    Sin embargo, un argumento a favor de Python, pero no para la mayoría de los otros lenguajes de esta lista, es que se presta a muchos casos de uso. En otras palabras, si aprenden Python para usarlo en el desarrollo web, también aprenderán un lenguaje que pueden usar para todo, desde la administración del sistema hasta el desarrollo móvil.</p>
            </div>
        </div> <!--.producto-->
    </main>
    <footer class ="pageFooter">
        <p>Copyright &copy; 2022 - www.misitio.com</p>
    </footer>
</body>
</html>